events.out.tfevents.*
# pycharm cache dir
.idea/

# run python cache dir
__pycache__/

*.h5
*.pyd

data/
build/
model/
models/
logs/
log/
backup/

result/
save_graph/
models_train_mnist/
slim/
*.db
*.so

